{
    "organizations": {
        "name": "<name>"
    },
    "systemusers": {
        "oauth_1_0_user_success": {
            "username": "<success_username>",
            "client_id": "<success_client_id>",
            "client_secret": "<success_client_secret>",
            "tenant_id": "<success_tenant_id>"
        },
        "oauth_1_0_user_failure": {
            "username": "<failure_username>",
            "client_id": "<failure_client_id>",
            "client_secret": "<failure_client_secret>",
            "tenant_id": "<failure_tenant_id>"
        }
    }
}